# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.log
.vscode/
.tmp/
workshop.txt
carbide-ward-421016-753b82d091c1.json
**/node_modules/
miss_keys_from.txt
miss_keys_result.txt
miss_keys_in.txt
miss_keys_searcher.lua
miss_keys_translate.js
miss_keys.txt